body {
    background-color: rgb(255, 255, 255);
}

.slide,
.slideImg {
    height: 70vh !important;
    border-radius: 20px;
    padding: 0 5%;
}

.round {
    border-radius: 20px;
}

.img1 {
    background: url("https://images.unsplash.com/photo-1515362778563-6a8d0e44bc0b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aG90ZWwlMjByb29tfGVufDB8fDB8fHwy") center/cover no-repeat;
}

.img2 {
    background: url("https://images.unsplash.com/photo-1568495248636-6432b97bd949?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aG90ZWwlMjByb29tfGVufDB8fDB8fHwy") center/cover no-repeat;
}

.img3 {
    background: url("https://images.unsplash.com/photo-1660731513683-4cb0c9ac09b8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGhvdGVsJTIwcm9vbXxlbnwwfHwwfHx8Mg%3D%3D") center/cover no-repeat;
}

.card-body {
    overflow: hidden;
}